* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  background-color: rgb(240, 210, 240);
  height: 100vh;
}